*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
#img-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#image{
    max-width: 70%;
    height: auto;
    /* position: absolute; */
    z-index: 1;
}
#title, .text{
    /* height: 200px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    background-color: #b8b8b8;
    margin-top: 50px;
}
.text{
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 100px;
}
h3{
    margin-bottom: 15px;
}
.text-div{
    width: 100%;
    padding: 60px 14.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}